<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anas.firstapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_teal"
        android:label="@string/app_name"

        android:theme="@style/AppTheme" >

        <!-- Splash Screen -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"

            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Choose Language activity -->
        <activity
            android:name=".ChooseLang"
            android:label="@string/app_name"
            android:configChanges="locale">
        </activity>

        <!-- Welcome activity -->
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="locale|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <!-- New Profile activity -->
        <activity
            android:name=".NewProfileActivity"
            android:configChanges="locale|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <!-- Profiles activity -->
        <activity
            android:name=".ProfilesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <!-- New Test activity -->
        <activity
            android:name=".TestNewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <!-- First Test activity -->
        <activity
            android:name=".TestFirstActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <!-- Niveau Reference activity -->
        <activity
            android:name=".ReferenceActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <!-- Tutorial activity -->
        <activity
            android:name=".TutorialActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <!-- After Reference activity -->
        <activity
            android:name=".AfterReferenceActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <!-- Game activity -->
        <activity
            android:name=".test.GameActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <!-- Best Score activity -->
        <activity
            android:name=".test.BestScoreActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <!-- History Results activity -->
        <activity
            android:name=".HistoryResultsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>
