<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anas.firstapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- Splash Screen -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Welcome activity -->
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- New Profile activity -->
        <activity
            android:name=".NewProfileActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- Profiles activity -->
        <activity
            android:name=".ProfilesActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- New Test activity -->
        <activity
            android:name=".TestNewActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
